.sidebar-desktop {
  display: none;
}

.sidebar-mobile {
  position: absolute;
  height: 100vh;
  width: 80%;
  max-width: 400px;
  top: 0;
  left: 0;
  background-color: #ffff;
  z-index: 50;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.sidebar-desktop,
.sidebar-mobile {
  overflow-y: auto;
}

.sidebar-mobile.sidebar--close {
  transform: translateX(-100%);
}

.sidebar-mobile__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-bottom: 1px solid rgba(229, 231, 235, 0.75);
}

.sidebar-mobile__logo {
  display: flex;
  align-items: center;
}

.sidebar-mobile__items {
}

@media (min-width: 1024px) {
  .sidebar-mobile {
    display: none;
  }

  .sidebar-desktop {
    display: flex;
    flex-shrink: 0;
    width: 16em;
    height: 100%;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}
