.modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

.modal__main {
  height: initial;
  max-height: 85vh;
  overflow: auto;
}

@media (min-width: 1024px) {
}
