.data-table__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
}

.data-table__loading span {
  margin-left: 0.2em;
}

.data-table__loading svg {
  font-size: 2.5rem;
  margin-right: 0.2em;
  color: var(--primary-color);
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
